@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(52, 52, 63);
    align-items: center;
    justify-content: center;
}

p {
    padding-left: 5px;
}

.page {
    margin: 50px auto;
    display: flex;
    width: 80%;
    min-height: 900px;
    background: white;
}

.page .contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 15px;
}

.contenido .titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.titulo-objetivo {
    background: rgba(92, 255, 92, 0.5);
    padding: 5px;
    margin: 0px;
}

.titulo-problema {
    background: rgba(74, 186, 252, 0.5);
    padding: 5px;
    margin: 0px;
}

.problemas {
    padding-left: 50px;
}

.es-por-datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titulo-dato {
    background: rgba(255, 127, 127, 0.5);
    padding: 5px;
    margin: 0px;
}
.subtitulo {
    background: rgba(189, 188, 188, 0.35);
    margin: 0px;
    padding: 5px;
}

.datos {
    margin-left: 50px;
}

.div-financiero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.div-financiero p {
    margin-top: 5px;
    margin-right: 5px;
}

.ingresar-en-bd {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingresar-en-bd input {
    margin: 20px 0;
    padding: 5px 10px;
    text-align: center;
    background: transparent;
    color: black;
    border-radius: 10px;
    font-size: larger;
}
.ingresar-en-bd input:hover {
    background: rgba(0, 128, 0, 0.829);
    color: white;
    cursor: pointer;
}