@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

:root {
    --principal: #dc143c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43, 43, 53);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(34, 34, 41);
}

li, a, textarea {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: large;
}

textarea {
    resize: none;
    padding: 10px 15px;
    color: black;
    margin-bottom: 15px;
}

button {
    color: white;
    background: transparent;
    border: 3px solid var(--principal);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
button:hover {
    background: var(--principal);
    cursor: pointer;
}

.titulo-header {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--principal);
}

.objetivos {
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.objetivos p {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.objetivos hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.10);
    margin: 20px 0;
    
}
.objetivo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.objetivo span:hover {
    color: yellow;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

form {
    padding: 20px 0;
    text-align: center;
    background-color: rgb(34, 34, 41);
    border-radius: 10px;
}

form p {
    padding-bottom: 15px;
}


.problemas {
    margin-top: 15px;
    
}

.problemas p {
    padding-left: 1%;
    font-size: 15px;
    color: whitesmoke;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: rgb(34, 34, 41);
    transition: all 0.3s ease 0s;
}
.problemas p:hover {
    background-color: var(--principal);
    cursor: pointer;
}

.problema-ext{
    background-color: whitesmoke;
}
.problema-ext p {
    background-color: transparent;
    color: black;
}
.problema-ext p:hover {
    cursor: default;
    background-color: lightgray;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #dddddd;
}
::-webkit-scrollbar-thumb {
    background: var(--principal);
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}