@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

:root {
    --principal: #dc143c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43, 43, 53);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(34, 34, 41);
}

li, a, textarea {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: large;
}

textarea {
    resize: none;
    padding: 10px 15px;
    color: black;
    margin-bottom: 15px;
    width: 80%;
}

button {
    color: white;
    background: transparent;
    border: 3px solid var(--principal);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
button:hover {
    background: var(--principal);
    cursor: pointer;
}

.titulo-header {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--principal);
}

.objetivos {
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.objetivos p {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.objetivos hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.10);
    margin: 20px 0;
    
}
.objetivo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    padding: 20px 0;
    text-align: center;
    background-color: rgb(34, 34, 41);
    border-radius: 10px;
    margin-bottom: 20px;
}

form p {
    padding-bottom: 15px;
}

.problemas {
    margin-top: 15px;  
}

.problemas p {
    color: whitesmoke;
    font-size: 15px;
}
/* .problemas p:hover {
    background-color: var(--principal);
    cursor: pointer;
} */

.problemas .problema-lapiz {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: rgb(34, 34, 41);
    transition: all 0.3s ease 0s;
    justify-content: space-between;
}
.problemas .problema-lapiz:hover {
    background-color: var(--principal);
    cursor: pointer;
}


.problema-ext{
    background-color: whitesmoke;
    
}
.problema-ext p {
    background-color: transparent;
    color: black;
    padding: 5px;
}
.problema-ext p:hover {
    cursor: default;
    background-color: lightgray;
}

.radios-problemas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.radios-problemas p{
    font-size: 15px;
    padding-bottom: 0;
}
.radios-problemas label {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 15px;
    vertical-align: middle;
}

.radios {
    display: flex;
    flex-direction: row;
}
.radios div {
    margin-left: 30px;
}
input {
    vertical-align: middle;
}

select {
    width: 80%;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}

table {
    margin: 0 auto;
    background-color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-spacing: 0;
    border-radius: 10px;
}

td, th {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 0;
}
.prob-tabla {
    font-weight: bold;
    font-size: 17px;
    background-color: var(--principal);
    color: white;
}


.txt-input {
    margin-left: 20px;
    margin-right: 20px;
}

.inputs-datos {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}
.inputs-datos input {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}


.form-edit {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.form-edit button {
    border: transparent;
    padding: 0px 0px 0px 0px!important;
    margin: 0!important;
}
.form-edit button:hover {
    background: transparent;
}

.div-editar {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 150px;
    text-align: center;
}
.div-editar p {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.edit-datos p{
    padding-top: 20px;
    padding-bottom: 5px;
}
.edit-datos input {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}

.img-met {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.footer-content {
    background-color: rgb(34, 34, 41);
    text-align: center;
    margin-top: 15px;
}
.footer-content p {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}
::-webkit-scrollbar-thumb {
    background: var(--principal);
}

.material-symbols-outlined {
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-outlined:hover {
    color: black;   
    cursor: pointer;
    background-color: white;
    transition: all 0.5s ease-out 0s;
    transform: scale(1.2);
}
