@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43, 43, 53);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(34, 34, 41);
}

li, a, textarea {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: large;
}

textarea {
    resize: none;
    padding: 10px 15px;
    color: black;
    margin-bottom: 20px;
}

button {
    color: white;
    background: transparent;
    border: 3px solid crimson;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
button:hover {
    background: crimson;
    cursor: pointer;
}

.titulo-header {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: crimson;
}

.pasos {
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.pasos p {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 35px;
}


.btn-add {   
    padding: 0 5px;  
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #dddddd;
}
::-webkit-scrollbar-thumb {
    background: crimson;
}