/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */
body {
    height: 100vh;
}

/* ::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: lightgray;
}
::-webkit-scrollbar-thumb {
    background: darkgreen;
} */